@use '../../styles/var';
@use '../../styles/mixin';

.not-found {
    display: flex;
    justify-content: center;
    align-items: center;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        padding: 2rem;
        min-height: 400px;
        width: 500px;

        background: rgba(255, 255, 255, 0.08);
        backdrop-filter: blur(12px);
        box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-radius: 20px;


        .title {
            margin-bottom: -5px;
            text-align: center;
            letter-spacing: -2px;
            font-size: 3rem;
            font-weight: 700;
            color: var.$color-title;
            
            @include mixin.md {
                font-size: 2.4rem;
            }
        }
        
        p {
            font-size: 1.4rem;
            text-align: center;

            @include mixin.md {
                font-size: 1.2rem;
            }
        }
        
        a {
            color: var.$color-link;
            font-weight: 600;
            text-decoration: none;

            &:focus,
            &:hover {
                color: var.$color-link-hover;
                text-decoration: underline;
            }
        }
    }
}