@use './var';

body {
    background-image: linear-gradient(144deg, var.$primary-backgroundColor, var.$secondary-backgroundColor 50%, var.$ternary-backgroundColor);
    font-family: var.$primary-font;
    color: #fff;
}