@use './var';

html,
body,
#root,
main {
    height: 100%;
}

body {
    background: no-repeat center url(../assets/tiles.png);
    background-size: cover;
    font-family: var.$primary-font;
    color: #fff;
}
